
  .loginBox {
    width: 100%;
    text-align: justify;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  }
  
  @media screen and (max-width: 550px) {
    .loginBox {
      width: 100%;
    }
  }
  